[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-dotenv = "*"
gunicorn = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
trio = "*"
pydantic-settings = "*"
celery = {extras = ["redis"], version = "*"}
gmpy2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
